<!DOCTYPE html>
<html>
<head>
  <title>Consumption</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script defer src="/js/index.js" type="module"></script>
</head>
<style>
  #table-container {
    width: 100%;
    max-width: 480px; 
  }
  #bar-chart-container {
    width: 100%;
    max-width: 480px; 
  }
</style>

  <body>
    <h1>Consumption</h1>
    <div id="bar-chart-container">
      <canvas id="bar-chart"></canvas>
    </div>
    <div id="table-container"></div>
  </body>
</html>