<!DOCTYPE html>
<html>
<head>
  <title>Consumption</title>
  <script defer src="/js/index.js" type="module"></script>
</head>
<style>
  #table-container {
    width: 100%;
    max-width: 480px; 
  }
</style>

  <body>
    <h1>Consumption</h1>
    <button id="post-button">Post to db</button>
    <div id="table-container"></div>
  </body>
</html>